*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana;
}
.about-us{
    height: 50vh;
    width: 50;
    padding: 50px 0;
    background: #bf9d8a;
    font-family: Verdana;
}
.pic{
    height: auto;
    width:  302px;
}
.about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-family: Verdana;
}
.text{
    width: 300px;
    font-family: Verdana;
}
.text h2{
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 10px;
    font-family: Verdana;

}
.text h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: Verdana;
}
span{
    color: #4a3728;
}
.text p{
    font-size: 14px;
    font-family:sans-serif;
    line-height: 20px;
    letter-spacing: 1px;
}
.data{
    margin-top: 30px;
}
.hire{
    font-size: 16px;
    background: #4a3728;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 4px 20px;
    border-radius: 4px;
    transition: 0.5s;
}
.hire:hover{
    background: beige;
}
