.icon{
  /* width: 300px; */
  /* float: left; */
  height: 80px;
}

.logo{
  color:#4a3728;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* float:left; */
  padding-top:15px;
  padding-left:1px;
}

.menu{
  /* width: 200px; */
  /* float:left; */
  height:40px;
}

ul{
  float:center;
  display:flex;
  justify-content:center;
  align-items: center;
  /* margin-left: 62px; */
  margin-bottom:62px;
  /* align-items: center;  */
}

ul{
  float:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li{
  list-style: none;
  margin-left: 80px;
  margin-top: 30px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: black ;
  font-family: Verdana;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color:beige;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4a3728;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
  background-color: beige;
}